<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
    
        <form action="?_method=PUT" method="POST">
            <label for="">First name:</label>
            <input type="text" name="actorFirstName" id="" value="<%= actor.first_name %> ">
            
            <label for="">Last name:</label>
            <input type="text" name="actorLastName" id="" value="<%= actor.last_name %> ">
            <button type="submit">
                Save
            </button>
        </form>
    </body>
</html>